.Shader {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
    z-index: 1;
}

.Shader-enter, .Shader-exit-done {
    opacity: 0;
}

.Shader-exit, .Shader-enter-done, .Shader-enter-active {
    opacity: 0.5;
}

.Shader-exit-active {
    opacity: 0;
}

.Shader-enter-active {
    opacity: 0.5;
}