.Header {
    display: flex;
    align-items: center;
    height: var(--header-height);
    background-color: var(--dark-purple);
    margin-top: 0;
    padding: 0 20px;
    width: 100%;
}

.header-title {
    color: white;
    font-weight: 700;
    font-size: 1.3em;
    margin-left: 30px;
    text-transform: capitalize;
}

.menu-btn {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 5px 7px;
}

.menu-btn:hover {
    background-color: var(--purple);
}

.menu-icon {
    color: white;
    font-size: 1.4em;
    width: 1.2em
}